/* hint and alt-hint are for paragraphs that are like "sticky notes" */

.hint, .alt-hint {
  width: 14em;
  padding: 1em;
  color: #000;
  background: #CFC;
  border-right: solid thick #CCC;
  border-bottom: solid thick #CCC;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.hint {
  float: right;
  text-align: right;
  margin-left: 1em;
  margin-right: 0;
}
.alt-hint {
  float: left;
  /* margin-left: -6%; This doesn't work in IE 5 :-( */
  text-align: left;
  margin-left: 0;
  margin-right: 1em;
}
.hint ul, .hint ol {
  /*text-align: left;*/
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}
.hint li {
  margin-left: 0;
}
.hint em, .alt-hint em {
  font-style: normal;
}
.hint em em, .alt-hint em em {
  font-style: italic;
}

/* Use nohint for what should be displayed if the UA doesn't support hints */
.nohint {
  display: none;
}
